<!DOCTYPE html>
<html lang="en">

<head>
    <!--Favicon-->
    <link rel="icon" href="../img/homeIcon.png" type="image/png">

    <!--animated chart-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="../js/interactiveGraphs/Picker.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact</title>

    <!--<link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>-->



    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">
    <link href="../js/interactiveGraphs/Style.css" rel="stylesheet" type="text/css">



    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>



</head>

<body id="page-top" class="index" data-spy="scroll" data-target="#navbar-example">

    <!-- Navigation -->
    <nav  class="navbar navbar-default navbar-fixed-top transparent">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll" id="mobile-nav">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../index.html"><img class="img-responsive" src="../img/websitesvg/VPS_Volos%20Name.svg" id="nav-logo" style="margin-top: 5px; width: 150px"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" id="Technology" href="technology.html">Technology</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Firm" href="firm.html">Firm</a>
                    </li>
                    <li>
                        <a class="page-scroll active-tab-nav" id="Contact" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Schedule" href="https://mail.google.com/mail/?view=cm&fs=1&to=info@volossoftware.com&subject=Demo" target="_blank">Schedule a Demo</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>

        <img class="img-responsive headerImages" src="../img/newImages/ContactUs%20(2).JPG" height="100%" width="auto" />

    </header>


    <!-- Services Section -->
    <section id="services" class="light-blue-background wow slideInLeft"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="shadow white-background">
                        <div style="padding: 20px">
                            <h2 class="section-heading">
                                Support
                            </h2>
                            <p class="">
                                  If you would like to talk to someone from technical support directly, please email us at support@volossoftware.com or give us a call at 857-220-8435.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shadow white-background">
                        <div style="padding: 20px">
                            <h2 class="section-heading">
                                Sales
                            </h2>
                            <p class="">
                                  Interested in requesting an demo of Volos? Please email sales@volossoftware.com or call 857-239-8838.
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section class="white-background wow slideInRight" id="contact2"><br><br>
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-4" id="left">
                    <p class="lead" style="text-align: right">
                        One Boston Place, Suite 2600<br>
                        Boston, MA, 02109<br>
                        857-239-8838<br>
                        info@volossoftware.com
                    </p>
                </div>
                <div class="col-lg-8 text-center" id="map-column">
                    <div class="google-maps shadow">
                        <iframe width="600px" height="450px" frameborder="0" style="border:0" allowfullscreen
                        src="https://www.google.com/maps/embed/v1/place?q=1%20Boston%20Place&key=AIzaSyAaSApL1Tw60C5oD-YR4dh0sHlRtVck_Fo"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="bg-darkest-gray">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-6">
                    <img class="img-responsive" src="../img/websitesvg/VolosLogoWithSlogan.svg" />
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">About Us</h3>
                    <ul class="footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="firm.html" class="white-text">Firm</a></li>
                      <li><a href="firm.html" class="white-text">Team</a></li>
                      <li><a href="technology.html" class="white-text">Services</a></li>
                      <li><a href="legal.html" class="white-text">Legal</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">Contact</h3>
                    <ul class="white-text footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="../index.html" class="white-text">Sales</a></li>
                      <li><a href="../index.html" class="white-text">Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">Social</h3>
                    <ul class="white-text footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="https://www.linkedin.com/company/volos-portfolio-solutions" class="white-text" target="_blank"><i class="white-text fa fa-linkedin"></i> Linkedin</a></li>
                      <li><a href="https://twitter.com/volossoftware" class="white-text" target="_blank"><i class="white-text fa fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-push-4">
                    <p id="footer-text"> © 2015 Volos Portfolio Solutions, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>

    <!--<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>-->

    <script type="text/javascript" src="../slick/slick.min.js"></script>


    <script type="text/javascript">
      $(document).ready(function(){
          $('.single-item').slick({
              autoplay: true,
              autoplaySpeed: 10000
          });
      });
    </script>


</body>

</html>
