<!DOCTYPE html>
<html lang="en">

<head>
    <!--Favicon-->
    <link rel="icon" href="../img/homeIcon.png" type="image/png">

    <!--animated chart-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="../js/interactiveGraphs/Picker.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Firm</title>


    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">
    <link href="../js/interactiveGraphs/Style.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>



</head>

<body id="page-top" class="index" data-spy="scroll" data-target="#navbar-example">

    <!-- Navigation -->
    <nav  class="navbar navbar-default navbar-fixed-top transparent">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll" id="mobile-nav">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../index.html"><img class="img-responsive" src="../img/websitesvg/VPS_Volos%20Name.svg" id="nav-logo" style="margin-top: 5px; width: 150px"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" id="Technology" href="technology.html">Technology</a>
                    </li>
                    <li>
                        <a class="page-scroll active-tab-nav" id="Firm" href="firm.html">Firm</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Contact" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Schedule" href="https://mail.google.com/mail/?view=cm&fs=1&to=info@volossoftware.com&subject=Demo" target="_blank">Schedule a Demo</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>

        <img class="img-responsive headerImages" src="../img/newImages/FirmBackground-01.jpg" height="100%" width="auto" />

        <!--<div class="container-fluid" id="volos-text" style="bottom: 600px;">-->
            <!--<div class="intro-text">-->
                <!--<div class="intro-heading" style="color: #F7901E; margin-top: 160px;">A new paradigm is needed in the world <br> of idea implementation</div>-->
            <!--</div>-->
        <!--</div>-->

    </header>

    <!-- Platform Section -->
    <section id="platform" class="white-background wow slideInRight">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="line-height: 35px;">
                        Volos was founded in May, 2014 with the vision that
OTC options are the future of active management.
Our team of mathematicians, engineers and developers desires to transform the way active managers use
complex options. Our investors and advisors are
comprised of senior market participants, software
developers and distinguished academics
                    </h3>
                </div>
            </div>
        </div>

    </section>

    <!-- Team Section -->
    <section id="team" class="light-blue-background wow slideInLeft"><br><br>
        <div class="container-fluid" id="employees">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading white-text">Our Team</h2>
                    <h3 class="section-heading white-text">The Volos team is a dedicated group of professionals with experience in
                        both the financial services and software development fields.
                    </h3>
                </div>
            </div>
            <div class="row " >
              <!-- Nav tabs -->
                <div class="col-md-4 margin-top" >
                  <ul class="nav nav-pills nav-stacked white-background shadow pills-container" role="tablist">
                      <li><p class="lead">Management</p></li>

                    <li role="presentation" class="active"><a href="#dCorcoran" aria-controls="dCorcoran" role="tab" data-toggle="tab">Dan Corcoran <em class="small">Chief Exective Officer</em></a></li>
                    <li role="presentation"><a href="#sultan" aria-controls="sultan" role="tab" data-toggle="tab">Saif Sultan <em class="small">Managing Director</em></a></li>
                    <li role="presentation"><a href="#kapadia" aria-controls="kapadia" role="tab" data-toggle="tab">Shashank Kapadia <em class="small">Managing Director</em></a></li>
                    <li role="presentation"><a href="#tCorcoran" aria-controls="tCorcoran" role="tab" data-toggle="tab">Tom Corcoran <em class="small">Software Development Engineer</em></a></li>
                    <li role="presentation"><a href="#Abramowitz" aria-controls="Abramowitz" role="tab" data-toggle="tab">Jack Abramowitz <em class="small">Sales Associate</em></a></li>
                    <li role="presentation"><a href="#Mazur" aria-controls="Mazur" role="tab" data-toggle="tab">Matt Mazur <em class="small">Analyst</em></a></li>
                    <li role="presentation"><a href="#Gingrich" aria-controls="Gingrich" role="tab" data-toggle="tab">Brooks Gingrich <em class="small">Analyst</em></a></li>


                  </ul>
                </div>

                <div class="col-md-4 margin-top" >
                  <ul class="nav nav-pills nav-stacked white-background shadow pills-container" role="tablist">
                      <li><p class="lead">Investors and Advisors</p></li>

                    <li role="presentation"><a href="#Elcock" aria-controls="sultan" role="tab" data-toggle="tab">Bill Elcock <em class="small">Investor</em></a></li>
                    <li role="presentation"><a href="#Klinck" aria-controls="kapadia" role="tab" data-toggle="tab">Jack Klinck <em class="small">Investor and Advisor</em></a></li>
                    <li role="presentation"><a href="#Solomon" aria-controls="tCorcoran" role="tab" data-toggle="tab">Gina Solomon <em class="small">Investor</em></a></li>
                    <li role="presentation"><a href="#Burton" aria-controls="Abramowitz" role="tab" data-toggle="tab">Jeff Burton <em class="small">Investor</em></a></li>
                    <li role="presentation"><a href="#JeffCorrado" aria-controls="Mazur" role="tab" data-toggle="tab">Jeff Corrado <em class="small">Investor</em></a></li>
                    <li role="presentation"><a href="#JoeCorrado" aria-controls="JoeCorrado" role="tab" data-toggle="tab">Joe Corrado <em class="small">Investor</em></a></li>
                    <li role="presentation"><a href="#davies" aria-controls="davies" role="tab" data-toggle="tab">Dr. Ryan Davies <em class="small">Investor and Advisor</em></a></li>
                    <li role="presentation"><a href="#darsney" aria-controls="darsney" role="tab" data-toggle="tab">Matt Darsney <em class="small">Advisor</em></a></li>
                    <li role="presentation"><a href="#kempthorne" aria-controls="kempthorne" role="tab" data-toggle="tab">Dr. Peter Kempthorne <em class="small">Advisor</em></a></li>

                  </ul>
                </div>

                <div class="col-md-4 text-justify margin-top">
                  <!-- Tab panes -->
                  <div class="tab-content white-background" >
                    <div role="tabpanel" class="tab-pane shadow active" id="dCorcoran">

Dan's passion for quantitative finance led him to start Volos Portfolio Solutions. Dan assembled the financial, mathematical, and engineering talents of the Volos team to develop software suited for the financial services industry of the future. He has experience in the hedge fund industry at SCS Financial, working on a team to analyze private equity and hedge funds. Dan is currently on a leave of absence from Babson College, where he is a Weissman Scholar, and has completed coursework at MIT, Olin College of Engineering, and Harvard University.
<br><br>
dan.corcoran@volossoftware.com
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="sultan">


Saif co-founded Volos after developing algorithmic trading strategies with Dan throughout 2013 and 2014. Saif provides a level of mathematical aptitude above the levels of most other market participants. The broad scope of Saif’s ability allows him to apply advanced mathematical theory to complex asset pricing and strategy optimization. Saif completed a BS in Electrical Engineering from the National University of Science and Technology in Pakistan, and a Masters degree in Mathematics from Northeastern University, where he graduated Summa Cum Laude.
<br><br>
saif.sultan@volossoftware.com

                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="kapadia">


Shashank adds a layer of technical aptitude to the Volos team with his knowledge of machine learning and large-scale data analysis. Raised in India, where he earned a BS in Electrical Engineering from the University of Pune, Shashank went on to pursue a Master’s degree in Operations Research with a research focus on Mathematical Modeling and Statistics at Northeastern University. Shashank finished his coursework at Northeastern Summa Cum Laude and was able to work for 8 months as a quantitative analyst for TrueLight Energy, developing efficient trading algorithms for Virtuals (energy derivatives). As a graduate research assistant at Healthcare Systems Engineering Institute (HSyE), he worked on a CHOT research project to build predictive models for patient management and flow using the concept of probability convolution.
<br><br>
shashank.kapadia@volossoftware.com

                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="tCorcoran">
                    Tom leads front end user-interface at Volos, and seeks to represent the intricacies of complex financial products in a graphical and intuitive fashion. Tom has experience designing and developing his own applications for mobile devices and is proficient in a number of programming languages including JavaScript, HTML, CSS, Objective C, PHP, Java, and SQL.
                    <br><br>
                    tom.corcoran@volossoftware.com

                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Abramowitz">
                    Jack is currently finishing his senior year at Northeastern University pursuing a Mechanical Engineering degree and planning to graduate in the Spring of 2016. His past experiences include an internship at Sang Lucci Capital Partners in Options Trading, a six-month internship at Goldman Sachs in Operations, and most recently a Summer Analyst position at Goldman Sachs in the Sales and Trading Division.
                    <br><br>
                    jack.abramowitz@volossoftware.com

                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Mazur">
                    Matt is currently studying Mathematics at Trinity College with an expected graduation in the Spring of 2017. Matt is an analyst for development operations and quality assurance at Volos.
                    <br><br>
                    matt.mazur@volossoftware.com

                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Gingrich">
                    Brooks is an analyst in business development and operations at Volos he manages support and client relations infrastructure. He has completed summer coursework at Harvard in the school of Economics is expected to graduate from Algonquin Regional High School June of 2016. Brooks plans to begin studies at The Wharton School of Business at the University of Pennsylvania in September of 2016.
                    <br><br>
                    brooks.gingrich@volossoftware.com

                    </div>

                    <div role="tabpanel" class="tab-pane shadow " id="darsney">
                        Matt wears his passion for big data analytics, high performance computing, and applied mathematics on his sleeve. During his time at Tufts University, Matt earned his chops taking almost every Computer Science and Mathematics course offered, graduating with an M.Sc in Applied Mathematics and authoring a thesis in distributed graphics processing. Now living in Seattle Washington and working as a software development engineer at Microsoft Corporation, Matt spends his days (and many nights) at the keyboard coding the next big thing, and his weekends neck deep in powder at Crystal Mountain. For the Volos team, Matt provides the team with broad technical insight in fields such as multidimensional data visualization and industry security standards.
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="davies">
                        <div class="scroll-box">
                        Ryan J. Davies is an Associate Professor of Finance at Babson College, and the Faculty Director of the Stephen D. Cutler Center for Investments and Finance. He teaches advanced undergraduate and MBA finance electives, including Security Valuation, Options and Futures, Fixed Income, and Capital Markets. Prior to joining Babson College, Dr. Davies taught at the ICMA Centre of the University of Reading in England. He has also taught various modules in the International Capital Market Association's International Fixed Income and Derivatives program and has taught the course Global Financial Management for the HSE Executive MBA program in Seoul, Korea.<br><br>
                     Recently, Dr. Davies has been estimating the extent to which various market frictions cause systematic patterns in the delayed incorporation of public information into intraday stock prices.  He is also studying how trade in equity options can impact the prices of their underlying stocks, and how to measure the direct and indirect costs of manipulation in futures markets. He also helped develop a widely-cited portfolio optimization method for the fund of hedge funds. Areas of expertise also include Algorithmic and High Frequency Trading; Hedge Funds and Fixed Income.<br><br>
                     Dr. Davies is an active invited participant at the NBER Market Microstructure Working Group meetings, as well as a frequent presenter and discussant at conferences such as the Western Finance Association meetings and Financial Management Association meetings. His research has been published in peer-reviewed journals such as the Journal of Financial Markets, Journal of Derivatives and Hedge Funds, Canadian Journal of Economics, Journal of Futures Markets, and Economics Letters.
                     Dr. Davies received his B.A in Economics with Mathematics from St. Francis Xavier University and his M.A and Ph.D in Finance and Econometrics from Queen's University at Kingston.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="kempthorne">
                        <div class="scroll-box">
                        Dr. Kempthorne received his A.B. magna cum laude degree in applied mathematics from Harvard University and was elected to the Alpha Chapter of Phi Beta Kappa. He pursued graduate studies in statistics receiving the M.Sc. degree and the Diploma of Imperial College award from the University of London, and a Ph.D. from the University of California Berkeley. While an Assistant Professor of Statistics at Harvard, he was awarded a Postdoctoral Mathematical Sciences Research Fellowship by the National Science Foundation. He then joined the faculty of MIT at the Sloan School of Management as a visiting Assistant Professor and was promoted
                            to Associate Professor of Management Science. From 1990 to 1998, Dr. Kempthorne also served as a Principal Research Scientist at the MIT Sloan School of Management conducting research at the Center for Computational Research in Economics and Management Science (CCREMS) and at the International Financial Services Research Center (IFSRC). He was an active member of the Risk Management Working Group and developed analytics incorporated in the industry-standard RiskMetrics methodology. In 2013 Dr. Kempthorne joined the MIT mathematics department as a lecturer in financial mathematics and statistics.<br><br> 
                    Dr. Kempthorne has been providing consulting services in financial and statistical analytics to a wide range of institutions through his company Kempthorne Analytics, Inc. and has been an investment manager, exploiting advanced statistical analytics to manage a variety of investment programs. From 2010-2012 he was portfolio manager and senior researcher at IKOS, CIF Ltd. Dr. Kempthorne co-founded Chronos Asset Management in 1995 and Summa Capital Management in 1996. His firm Kempthorne Analytics is currently registered as an investment adviser and manages systematic quantitative investment programs for retail clients.
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane shadow " id="JoeCorrado">
                        <div class="scroll-box">
                            Joe is currently a Senior Managing Director at The Boston Company where he is the Lead Portfolio Manager on the fund’s US Small and SMID Value team. He has worked in the equity investments industry for 37 years and has been managing small and SMID cap assets since 1998. Joe came to The Boston Company from Standish, Ayer & Wood, where his roles included Analyst, Portfolio Manager and Director of Equity Research. Earlier in his career, Joe held equity research positions at Shearson Lehman Brothers, Manufacturers Hanover Trust and New York Life Insurance Co. He holds a degree in Finance from New York University.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Elcock">
                        <div class="scroll-box">
                            Bill is currently a Principle at Sequoia Strategic Advisors, a firm he co-founded after a 31 year career at Batterymarch Financial. Bill joined Batterymarch Financial in 1984 as an assistant portfolio manager and was subsequently named quantitative analyst, portfolio manager and senior portfolio manager. Bill assumed additional senior management responsibilities as Deputy Chief Executive officer in 2001 and became Chief Executive Officer in 2002. He led this global quantitative equity firm, a pioneer in model-driven investing and independently managed subsidiary of Legg Mason, Inc., through a substantial period of growth to a high of $30 Billion in AUM, 120 employees and $120 Million in revenues. Bill received his BA from University of New Hampshire and an MBA from Sawyer Business School at Suffolk University.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Klinck">
                        <div class="scroll-box">
                            Jack serves as CEO of Constellation FinTech, a collection of highly innovative software and marketplace infrastructure businesses funded primarily by the Raptor Group (not affiliated with Volos). Before joining Constellation FinTech, Jack spent 25 years in global banking and asset management including almost nine years at State Street where he served on the Management Committee running several business lines that include Alternative Investment Solutions, Credit Services, Global Exchange and Corporate Strategy. He also worked at BNY Mellon, for nine years, serving on the Management Committee where he ran Investment Management Solutions and all European businesses. Jack is a graduate of Middlebury College and the Fuqua School of Business at Duke University.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Solomon">
                        <div class="scroll-box">
                            Gina serves as Principle at Sequoia Strategic Advisors, a firm she co-founded after a distinguished career in financial services. Previously, Gina was Director of Communications and Reporting at Batterymarch Financial, where she lead teams to manage the firm’s strategic marketing. Prior to joining Batterymarch, Gina held senior management roles at Baring Asset Management as a Senior VP for North American Marketing. Earlier in her career, she held account and product management positions at Bronner Slosberg Humphrey/ Digitas and Fidelity Investments. Gina earned her BA from Wellesley College.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="Burton">
                        <div class="scroll-box">
                            Jeff serves as Partner and Head of Institutional Sales at Furey Research Partners, a research provider for small cap equity strategies. Prior to Furey Research , Mr. Burton enjoyed a successful fifteen year career at Morgan Stanley. From 2006-2007, Mr. Burton served as Managing Director, Head of Fundamental and Quantitative Equity Research, a proprietary trading research team. In this capacity, he managed both a team of desk research analysts and a dedicated energy MLP fund. From 2003-2006, Mr. Burton served as Managing Director and Head of Research Product Development and Marketing. He began his Wall Street career at Morgan Stanley in 1992 and served in various institutional sales positions in New York, San Francisco, and Boston. Mr. Burton earned an MBA in Multinational Management from The Wharton School of the University of Pennsylvania and a BA in English Literature from Trinity College.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane shadow " id="JeffCorrado">
                        <div class="scroll-box">
                            Jeff is a graduate of the Marshall School of Business at University of Southern California class of 2011, and it currently pursuing his MBA at Babson College. Past experiences include roles at Granahan Investment Management, Furey Research Partners, the Federal Reserve Bank of Boston, and the Dana-Farber Cancer Institute. Jeff holds both FINRA Series 7 and Series 63 certificates.
                        </div>
                    </div>
                      
                  </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Press Section -->
    <section id="press" class="white-background wow slideInRight"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h2 class="section-heading">Press</h2>
                    </div>
                    <div class="row">
                        <h3 class="section-heading">
                            <a class="light-blue-text" href="https://medium.com/@FinTechSandbox/iron-condor-or-commodore-volos-joins-fintech-sandbox-to-help-portfolio-managers-optimize-af2b1a07b5d7#.7o6ku1ftl" target="_blank">
                                Iron Condor or Commodore? Volos Joins FinTech Sandbox to Help Portfolio Managers Optimize Derivative Trading Strategies
                            </a>
                        </h3>
                    </div>
                    <div class="row">
                        <h4 class="section-heading" style="font-style: italic;">By Meltem Demirors, May 8, 2015</h4>
                    </div>
                    <div class="row">
                        <h3 class="section-heading">
                            <a class="light-blue-text" href="http://www.financemagnates.com/fintech/data/fintech-sandbox-announced-fifth-startup-member-volos-portfolio-solutions/" target="_blank">
                                Market data for free. FinTech Sandbox Announces Fifth Startup Member, Volos Portfolio Solutions
                            </a>
                        </h3>
                    </div>
                    <div class="row">
                        <h4 class="section-heading" style="font-style: italic;">By Ron Finberg, May 5, 2015</h4>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer class="bg-darkest-gray">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-6">
                    <img class="img-responsive" src="../img/websitesvg/VolosLogoWithSlogan.svg" />
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">About Us</h3>
                    <ul class="footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="firm.html" class="white-text">Firm</a></li>
                      <li><a href="firm.html" class="white-text">Team</a></li>
                      <li><a href="technology.html" class="white-text">Services</a></li>
                      <li><a href="legal.html" class="white-text">Legal</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">Contact</h3>
                    <ul class="white-text footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="../index.html" class="white-text">Sales</a></li>
                      <li><a href="../index.html" class="white-text">Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">Social</h3>
                    <ul class="white-text footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="https://www.linkedin.com/company/volos-portfolio-solutions" class="white-text" target="_blank"><i class="white-text fa fa-linkedin"></i> Linkedin</a></li>
                      <li><a href="https://twitter.com/volossoftware" class="white-text" target="_blank"><i class="white-text fa fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-push-4">
                    <p id="footer-text"> © 2015 Volos Portfolio Solutions, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>

    <script type="text/javascript" src="../slick/slick.min.js"></script>


    <script type="text/javascript">
      $(document).ready(function(){
          $('.single-item').slick({
              autoplay: true,
              autoplaySpeed: 10000
          });
      });
    </script>


</body>

</html>
