<!DOCTYPE html>
<html lang="en">

<head>
    <!--Favicon-->
    <link rel="icon" href="../img/homeIcon.png" type="image/png">

    <!--animated chart-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="../js/interactiveGraphs/Picker.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Technology</title>


    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">
    <link href="../js/interactiveGraphs/Style.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>



</head>

<body id="page-top" class="index" data-spy="scroll" data-target="#navbar-example">

    <!-- Navigation -->
    <nav  class="navbar navbar-default navbar-fixed-top transparent">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll" id="mobile-nav">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../index.html"><img class="img-responsive" src="../img/websitesvg/VPS_Volos%20Name.svg" id="nav-logo" style="margin-top: 5px; width: 150px"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll active-tab-nav" id="Technology" href="technology.html">Technology</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Firm" href="firm.html">Firm</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Contact" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="Schedule" href="https://mail.google.com/mail/?view=cm&fs=1&to=info@volossoftware.com&subject=Demo" target="_blank">Schedule a Demo</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>

        <img class="img-responsive headerImages" src="../img/newImages/tech2-01.jpg" height="100%" width="auto" />

        <!--<div class="container-fluid" id="volos-text" style="bottom: 1000px;">-->
            <!--<div class="intro-text">-->
                <!--<div class="intro-heading" style="color: #F7901E; margin-top: 160px;">An intuitive platform that unlocks the hidden alpha in OTC derivatives</div>-->
            <!--</div>-->
        <!--</div>-->

    </header>

    <!-- Platform Section -->
    <section id="platform" class="light-blue-background wow slideInRight"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h3 class="section-heading white-text" style="line-height: 35px">
                        Volos makes selecting and analyzing OTC options strategies extremely easy. Designed for executives and portfolio managers, Volos provides unparalleled insight into the most rewarding, underutilized, and unexplored asset class.
                    </h3>
                </div>
                <div class="col-lg-6">
                    <center>
                        <img class="img-responsive shadow" src="../img/newImages/IMG_1740.JPG" height="auto" width="600px" />
                    </center>
                </div>
            </div>
        </div>

    </section>

    <!-- Optimize Section -->
    <section id="optimize" class="white-background wow slideInLeft"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <h2 class="section-heading text-center" style="font-size: 60px;">OPTIMIZE</h2>
                            </div>
                            <div class="row">
                                <h3 class="section-heading text-center">Across 4.5 trillion options strategies in seconds</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <center>
                                <img src="../img/websitesvg/VPS_Optimize%20Black.svg" style="width: 250px;">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <center>
                    <div class="single-item" style="width: 70%">
                               <center>
                                    <h3 class="section-heading italics-font">
                                        Input your unique prediction about the performance of an asset, and have Volos generate the optimal option
                                    </h3>
                               </center>
                                <center>
                                    <h3 class="section-heading italics-font">
                                        The intrinsic value of an option to you may be very different than the value that you could purchase the option for from a dealer
                                    </h3>
                                </center>
                                <center>
                                    <h3 class="section-heading italics-font">
                                        Optimal and efficient exposure where your opinion differs from the market’s
                                    </h3>
                                </center>
                           </div>
                    </center>
                </div>
            </div>
        </div>

    </section>

    <!-- Structure Section -->
    <section id="structure" class="light-blue-background wow slideInRight"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <h2 class="section-heading text-center white-text" style="font-size: 60px;">STRUCTURE</h2>
                            </div>
                            <div class="row">
                                <h3 class="section-heading text-center white-text">Any listed or OTC options strategies</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <center>
                                <img src="../img/websitesvg/VPS_Structure%20White.svg" style="width: 250px;">
                            </center>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <center>
                    <div class="single-item-structure" style="width: 70%;">
                           <center>
                                <h3 class="section-heading white-text italics-font">
                                    Don’t pay for exposure you don’t need
                                </h3>
                           </center>
                            <center>
                                <h3 class="section-heading white-text italics-font">
                                    Exotics offer a broader set of ways in which you can be correct
                                </h3>
                            </center>
                            <center>
                                <h3 class="section-heading white-text italics-font">
                                    Customized leverage through an ultra efficient medium
                                </h3>
                            </center>
                       </div>
                    </center>
                </div>
            </div>
        </div>

    </section>

    <!-- Analyze Section -->
    <section id="analyze" class="white-background wow slideInLeft"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <h2 class="section-heading text-center" style="font-size: 60px;">ANALYZE</h2>
                            </div>
                            <div class="row">
                                <h3 class="section-heading text-center">Using advanced scenario and exposure analysis</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <center>
                                <img src="../img/websitesvg/VPS_Analyze%20Black.svg" style="width: 250px;">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <center>
                        <div class="single-item-analyze" style="width: 70%">
                               <center>
                                    <h3 class="section-heading italics-font">
                                        An original analysis and relative value framework for derivatives
                                    </h3>
                               </center>
                                <center>
                                    <h3 class="section-heading italics-font">
                                        OTC options are underutilized because of the lack of intuitive analysis tools
                                    </h3>
                                </center>
                                <center>
                                    <h3 class="section-heading italics-font">
                                        Intuitive technology that unlocks the hidden alpha in exotic options
                                    </h3>
                                </center>
                           </div>
                    </center>
                </div>
            </div>
        </div>

    </section>

    <!-- Manage Section -->
    <section id="manage" class="light-blue-background wow slideInRight"><br><br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <h2 class="section-heading text-center white-text" style="font-size: 60px;">MANAGE</h2>
                            </div>
                            <div class="row">
                                <h3 class="section-heading text-center white-text">Manage mark to market based workflows</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <center>
                                <img src="../img/websitesvg/VPS_Manage%20White.svg" style="width: 250px;">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <center>
                        <div class="single-item-manage" style="width: 70%">
                               <center>
                                    <h3 class="section-heading white-text italics-font">
                                        The current OTC options platforms are built for quants, not PMs
                                    </h3>
                               </center>
                                <center>
                                    <h3 class="section-heading white-text italics-font">
                                        Volos provides PMs, traders, structurers, and analysts with unparalleled trade insight
                                    </h3>
                                </center>
                                <center>
                                    <h3 class="section-heading white-text italics-font">
                                        Transform single trade asset allocation into a profit center of your investment process
                                    </h3>
                                </center>
                           </div>
                    </center>
                </div>
            </div>
        </div>

    </section>

    <footer class="bg-darkest-gray">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-6">
                    <img class="img-responsive" src="../img/websitesvg/VolosLogoWithSlogan.svg" />
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">About Us</h3>
                    <ul class="footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="firm.html" class="white-text">Firm</a></li>
                      <li><a href="firm.html" class="white-text">Team</a></li>
                      <li><a href="technology.html" class="white-text">Services</a></li>
                      <li><a href="legal.html" class="white-text">Legal</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">Contact</h3>
                    <ul class="white-text footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="../index.html" class="white-text">Sales</a></li>
                      <li><a href="../index.html" class="white-text">Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="service-heading white-text footer-text-left">Social</h3>
                    <ul class="white-text footer-text-left" style="list-style-type:none; margin-left: -40px; font-size: 15px">
                      <li><a href="https://www.linkedin.com/company/volos-portfolio-solutions" class="white-text" target="_blank"><i class="white-text fa fa-linkedin"></i> Linkedin</a></li>
                      <li><a href="https://twitter.com/volossoftware" class="white-text" target="_blank"><i class="white-text fa fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-push-4">
                    <p id="footer-text"> © 2015 Volos Portfolio Solutions, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>

    <script type="text/javascript" src="../slick/slick.min.js"></script>


    <script type="text/javascript">
      $(document).ready(function(){
          $('.single-item').slick({
              autoplay: true,
              autoplaySpeed: 8000,
              prevArrow:"<img class='control-c prev slick-prev' src='../img/websitesvg/VPS_Black%20Left.svg' style='background-color: transparent'>",
              nextArrow:"<img class='control-c next slick-next' src='../img/websitesvg/VPS_Black%20Right.svg' style='background-color: transparent'>"
          });
          $('.single-item-structure').slick({
              autoplay: true,
              autoplaySpeed: 8000,
              prevArrow:"<img class='control-c prev slick-prev' src='../img/websitesvg/VPS_White%20Right.svg' style='background-color: transparent'>",
              nextArrow:"<img class='control-c next slick-next' src='../img/websitesvg/VPS_White%20Left.svg' style='background-color: transparent'>"
          });
          $('.single-item-analyze').slick({
              autoplay: true,
              autoplaySpeed: 8000,
              prevArrow:"<img class='control-c prev slick-prev' src='../img/websitesvg/VPS_Black%20Left.svg' style='background-color: transparent'>",
              nextArrow:"<img class='control-c next slick-next' src='../img/websitesvg/VPS_Black%20Right.svg' style='background-color: transparent'>"
          });
          $('.single-item-manage').slick({
              autoplay: true,
              autoplaySpeed: 8000,
              prevArrow:"<img class='control-c prev slick-prev' src='../img/websitesvg/VPS_White%20Right.svg' style='background-color: transparent'>",
              nextArrow:"<img class='control-c next slick-next' src='../img/websitesvg/VPS_White%20Left.svg' style='background-color: transparent'>"
          });
      });
    </script>


</body>

</html>
